* {margin: 0px; padding: 0px; }

body {
    background-color: #ffffff;
    font-family: 'Poppins', Arial, Helvetica, Arial,  sans-serif;
	font-size: small;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: auto;
    margin-bottom: 10px;
}

#page {
	width: 360px;
	margin: 0px auto;
}

h1 {
    font-size: 170%;
    color:black;
    text-align: center;
}

h2 {
    font-size: 130%;
    color: navy;
    text-align: center;
}

a {
    margin: 5px;
}

header {
    margin: 5px;
}

nav, header, #contact, #email {
    text-align: center;
}

.fa {
    display: inline-block;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 120%;
    text-decoration: none;
    width: 100px;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #d10869;
    color: white;
}

.fa-tiktok {
    background: #000;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

img {
    border: 1px dotted gray;
}

nav {
	margin: 5px 5px 5px 5px;
}

nav ul {
	margin: 0px;
	list-style-type: none;
}

nav ul li {
    padding: 5px;
    margin: 5px;
	text-align: center;
    cursor: default;
}

.products, .why-buy, .newsletter, .catalog-download, .order-info, .about, .partners {
    margin: 10px 0px 10px 0px;
    border: 1px dotted gray;
}

.products div {
    margin: 5px;
    text-align: center;
}

footer {
    font-size: 85%;
    padding: 5px 0px;
    text-align: center;
	margin: 5px auto;
    clear: right;
}

h1, h2, nav, img, .products, .why-buy, .newsletter, .catalog-download, .order-info, #contact, .about, .partners, nav ul li a {
    border-radius: 5px;
}

p {
    margin: 5px;
}

.about {
    padding: 0px 0px 5px 0px;
    text-align: center;
}

#logo {
    border: none;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav, h1, h2 {
    background-color: LightGray;
    background: radial-gradient(ellipse, #FFFFFF 0%, lightGray 100%);
    margin: 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px dotted gray;
}

section#products ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 5px;
}

section#products ul li {
	margin: 5px;
}

section#products h2 {
	color: navy;
}

#contact {
    margin: 5px;
    padding: 0px;
}

#email {
    margin: 5px 5px 10px 5px;
    padding: 0px;
}

